{% load jalali_tags %}
{% load static %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="send">
</form>
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% if custom %}
<h1>from {{first}} to {{second}}</h1>
{% endif %}
{% for room in custom %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% empty %}
<h3>dose not exist</h3>
{% endfor %}
<br>
<br>
<h1>All Ghasr Rooms</h1>
{% for room in sue %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in almas %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in saf %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in turk %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in iran %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Berelian %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Emperial %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in India %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Africa %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Tailand %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Russa %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Turkish %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Italian %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Arabic %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in tamaddon %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}-
    {{room.Second_Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>



