{% load jalali_tags %}
{% load static %}

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="send">
</form>
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% if request.POST %}
    {% if custom %}
    <h1>from {{first}} to {{second}}</h1>
    {% endif %}
    {% for room in custom %}
    cussotm
        {{room.Room_Name}}
        {{room.Price_Off}}
        {{room.Day}}-
        {{room.Second_Day}}
        <br>
    {% empty %}
        
        <h3>dose not exist</h3>
        
    {% endfor %}
{% endif %}
<br>
<br>
<h1>All Ghasr Rooms</h1>
{% for room in one %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in three_rooms %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in four_rooms %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in toeen %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Darvish %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in espa %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in room %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in four %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in room %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in session %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in three %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Es %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in standard %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>
{% for room in stan %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    {{room.Day}}
    {{room.site}}
    <br>
{% endfor %}
<br>
<br>









