{% for room in one %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in three_rooms %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in four_rooms %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in toeen %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Darvish %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in espa %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in room %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in four %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in room %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in session %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in three %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in Es %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in standard %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>
{% for room in stan %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>









