{% for room in lak %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in jonior %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in eco %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in classic %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in Atriom %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in bed %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in land %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in vestern %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in roy %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in senior %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in prances %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in cancat %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in presedent %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>