{% for room in tooenss %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in double %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in tooens %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in house %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in tooen %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>

{% for room in sen %}
    {{room.Room_Name}}
    {{room.Price_Off}}
    <br>
{% endfor %}
<br>
<br>