{% extends 'base.html' %}
{% load static %}

{%block title%} هتل ها {%endblock%}
{%block about%} درباره سایت {%endblock%}
{% block content %}
  <!-- ======= Hero Section ======= -->
  
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url({% static 'img/photo_1485637151.jpg' %});">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">!خوش آمدید</h2>
                <p class="animate__animated animate__fadeInUp">قیمت هتل هارا در در سایت های مختلف شهر مشهد مقایسه کنید و اتاق موردنظر خود را انتخاب کنید</p>
                <div>
                  <a href="#li-hotel" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url({% static 'img/Almas2/بوفه-اسلایدر.jpg' %});">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">در حال بروزرسانی</h2>
                <p class="animate__animated animate__fadeInUp">در حال حاضر ۵ سایت دردسترس و قابل مقایسه هستند و به زودی تعداد بیشتری قرار میگیرد</p>
                <div>
                  <a href="#li-hotel" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url({% static 'img/Reza/harram-jjj.jpg' %});">
            <div class="carousel-container">
              <div class="carousel-content">
                <p class="animate__animated animate__fadeInUp">در حال حاضر حدود ۱۰ هتل وبیش از ۳۰۰۰ اتاق در سایت وجود دارد وبزودی هتل های ببیشتری قرار میگیرد</p>
                <div>
                  <a href="#li-hotel" class="btn-get-started animate__animated animate__fadeInUp scrollto">بیشتر</a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <!-- <div class="container right mt-4">
    <div class="col-lg-8 m-auto" style="padding: 30px 25px 30px 25px; background-color: rgb(247, 247, 247);">
      <div class="row text-center">
        <div class="col-lg-6" style="padding-right: 40px;padding-left: 50px;">
          <form class="form-class" method="post">
            {% csrf_token %}
            <div style="text-align:right">
              <label for="exampleInputPassword1" class="form-label m-0">Password</label>
            <input type="text" name="hotel_name" class="form-control" id="exampleInputPassword1">
            </div>
            <input class="input-submit" type="submit" value="send">
          </form>
      </div>
      <div class="col-lg-6" style="padding-right: 40px;padding-left: 50px;border-right: solid 1px #00000036;">
        <form class="form-class" method="post">
          {% csrf_token %}
          <div style="text-align:right">
          <label for="exampleInputPassword1" class="form-label m-0">Password</label>
          <select name="star" class="form-select" style="direction: ltr;" id="exampleInputPassword1">
            <option selected="">select</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          </div>
          <input class="input-submit" type="submit" value="send">
        </form>
    </div>
    </div>
  </div>
  </div> -->

  <main id="main">

    <!-- Start Show Hotel -->

    
  <div id="li-hotel" class="recent-listing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          
          <div class="section-heading">
            <h2 style="padding: 8px;">لیست هتل ها</h2>
          </div>
        </div>
        {% if Hotels_list != '' %}
        <div class="col-lg-9">
          <div class="owl-carousel owl-listing">
              <div class="item">
                <div class="row">
                    {% for Hotel in Hotels_list %}
                      <div class="col-lg-12" >
                        <div class="listing-item">
                          <div class="left-image">
                            <a href="{% url Hotel.slug %}"><img src="{{Hotel.image.url}}" alt=""></a>
                          </div>
                          <div class="right-content align-self-center">
                            <!-- <h6>by: Sale Agent</h6> -->
                            <ul id="add-star"  class="rate">
                              {% for _ in 'x'|rjust:Hotel.star %}
                              <li><l class="fa fa-star" style="color: #50d8af;"></l></li>
                              {% endfor %}
                            </ul>
                            
                            <a class="right set-pos right-side" href="{% url Hotel.slug %}"><h4>{{forloop.counter}}. {{Hotel.hotel}}</h4></a>

                            <span class="price right"><div class="icon"><img src="{% static 'images/listing-icon-01.png' %}" alt=""></div> {{ Hotel.address }}</span>
                            <div class="main-white-button">
                              <a href="contact.html"><i class="fa fa-eye"></i>بازدید</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
          </div>
        </div>
        {% else %}
        <div class="col-lg-9">
          <div class="owl-carousel owl-listing">
            {% for hotel_items in Hotels %}
              <div class="item">
                <div class="row">
                    {% for Hotel in hotel_items %}
                      <div class="col-lg-12" >
                        <div class="row listing-item">
                          <div class="left-image col-lg-5">
                            <a class="hotel-title"><img src="{{Hotel.image.url}}" alt=""></a>
                          </div>
                          <div class="right-content align-self-center col-lg-6">
                            <!-- <h6>by: Sale Agent</h6> -->
                            <ul id="add-star"  class="rate">
                              {% for _ in 'x'|rjust:Hotel.star %}
                              <li><l class="fa fa-star" style="color: #50d8af;"></l></li>
                              {% endfor %}
                            </ul>
                            
                            <a class="right set-pos right-side" href="{% url Hotel.slug %}"><h4>{{forloop.counter}}. {{Hotel.hotel}}</h4></a>

                            <span class="price right"><div class="icon"><img src="{% static 'images/listing-icon-01.png' %}" alt=""></div> {{ Hotel.address }}</span>
                            <div class="main-white-button">
                              <a href="contact.html"><i class="fa fa-eye"></i>بازدید</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="col-lg-3">
          <div class="right">
            <div class="m-auto form-box">
              <div class="row text-center">
                <div class="pack" >
                  <form id="hotel-form" class="form-class" style="border-bottom: solid 1px #00000021;" method="post">
                    {% csrf_token %}
                    <div style="text-align:right">
                      <label for="exampleInputPassword1" class="form-label m-0">جستجو هتل</label>
                    <input type="text" name="hotel_name" class="form-control text-br" id="exampleInputPassword1" placeholder="نام هتل">
                    </div>
                    <input class="input-submit" type="submit" value="send" style="margin-bottom: 22px;">
                  </form>
              </div>
              <div class="pack">
                <form class="form-class" method="post">
                  {% csrf_token %}
                  <div style="text-align:right">
                    <label for="exampleInputPassword1" class="form-label m-0">تعداد ستاره هتل</label>
                    <select name="star" class="form-select" style="direction: ltr;font-size: 19px;" id="exampleInputPassword1">
                      <option selected="">ستاره</option>
                      <option value="2">ستاره 2</option>
                      <option value="3">ستاره 3</option>
                      <option value="4">ستاره 4</option>
                      <option value="5">ستاره 5</option>
                    </select>
                  </div>
                  <input class="input-submit" type="submit" value="send">
                </form>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- End Show Hotel -->
    
    <!-- Start Protfile -->

    <!-- ======= Counts Section ======= -->
    <!-- id  counts -->
    <section id="portfolio" class="counts">
      <div class="container">

        <div class="row no-gutters">
          <div class="section-heading text-center">
            <h2 style="width: 100%;left:0;padding: 8px;">(درحال بروزرسانی)درباره سایت</h2>
          </div>
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-door-open"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{rooms_number}}" data-purecounter-duration="1" class="purecounter"></span>
              <p> تعداد کل اتاق ها</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{rooms}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>تعداد اتاق ها</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-building"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{hotels_number}}" data-purecounter-duration="1" class="purecounter"></span>
              <p>تعداد هتل ها</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="bi bi-diagram-3"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{site_number}}" data-purecounter-duration="1" class="purecounter"></span>
              <p> تعداد سایت</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  </main><!-- End #main -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- <script>
        $(document).ready(function(){
        $("#hotel-form").submit(function (e) {
          e.preventDefault();
          // var form = $(this).closest("form")
          var serializedData = $(this).serialize();
          $.ajax({
            url: "{% url 'cal' %}",
            type: 'POST',
            data: serializedData,
          });
    
        });
      });
      </script> -->

{% endblock %}