ok
{% for i in one %}
{{i.site.hotel_name}}
{{i.Price_Off}}
{{i.Room_Name}}
<br>
{% endfor %}

<br><br><br>

{% for i in lak %}
{{i.site.hotel_name}}
{{i.Price_Off}}
{{i.Room_Name}}
<br>
{% endfor %}

<br><br><br>

{% for i in stan %}
{{i.site.hotel_name}}
{{i.Price_Off}}
{{i.Room_Name}}
<br>
{% endfor %}

<br><br><br>

{% for i in standard %}
{{i.site.hotel_name}}
{{i.Price_Off}}
{{i.Room_Name}}
<br>
{% endfor %}

<br><br><br>

{% for i in get_all %}
{{i.site.hotel_name}}
{{i.Price_Off}}
{{i.Room_Name}}
<br>
{% endfor %}