{% load static %}
{% load jalali_tags %}

<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Groovin Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <style>
        @font-face {
            font-family: 'BMitra';
            src: url('{% static "fonts/font/BMitra.eot" %}');
            src: url('{% static "fonts/font/BMitra.woff" %}') format('woff'),
                url('{% static "fonts/font/BMitra.ttf" %}') format('ttf');
            font-style: normal;
            font-weight: normal;
            font-display: swap;
            }
    </style>
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-plot-listing.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Groovin - v4.7.1
    * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    </head>

    <body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="index.html">Groovin</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar">
                <ul>
                <li><a class="nav-link scrollto {%if request.path == '/cal/'%}active{%endif%}" href="{%if request.path == '/cal/'%}#hero{%else%}{%url 'cal'%}{%endif%}">خانه</a></li>
                <li><a class="nav-link scrollto" href="#li-hotel">{%block title%}{%endblock%}</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">{%block about%}{%endblock%}</a></li>
                <!-- <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li> -->
                <li><a class="nav-link scrollto" href="#footer">درباره ما</a></li>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" style="padding-left: 17px;">خروج</a>
                {% else %}
                <div class="modal right">
                    <div class="modal-container">
                      <div class="modal-left">
                        <h1 class="modal-title">خوش آمدید!</h1>
                        <div class="login">
                          <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-block">
                              <label for="username" class="input-label">نام کاربری :</label>
                              <input type="text" name="username" id="username" placeholder="Username">
                            </div>
                            <div class="input-block">
                              <label for="password" class="input-label">رمزعبور :</label>
                              <input type="password" name="password" id="password" placeholder="Password">
                            </div>
                            <div class="modal-buttons">
                              <!-- <a href="" class="">Forgot your password?</a> -->
                              <button class="input-button bt-ho">ورورد</button>
                            </div>
                            <!-- <p class="sign-up"><a href="#">Forgot your password?</a></p> -->
                        <p class="sign-up"><a href="#" onclick="signUp()">ثبت نام نکرده اید؟</a></p>
                          </form>
                        </div>
                        <div class="signups" style="display: none;">
                          <form id="signup" class="form" action="{% url 'register' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-field">
                              <label for="username" class="input-label">نام کاربری :</label>
                              <input class="user" type="text" name="username" id="username" placeholder="username" autocomplete="off">
                              <small></small>
                            </div>
                            <div class="form-field">
                              <label for="email" class="input-label">ایمیل :</label>
                              <input type="text" name="email" id="email" placeholder="Email" autocomplete="off">
                              <small></small>
                            </div>
                            <div class="form-field">
                              <label for="password" class="input-label">رمزعبور :</label>
                              <input class="pass" type="password" name="password1" id="password" placeholder="Password" autocomplete="off">
                              <small></small>
                            </div>
                            <div class="form-field">
                              <label for="confirm-password" class="input-label">تایید رمزعبور :</label>
                              <input type="password" name="password2" id="confirm-password" placeholder="confirm-password" autocomplete="off">
                              <small></small>
                            </div>
                            
                            <div class="modal-buttons">
                              <!-- <a href="" class="">Forgot your password?</a> -->
                              <!-- <input class="input-button bt-ho" type="submit" value="ثبت نام"> -->
                              <button class="input-button bt-ho" type="submit" >ثبت نام</button>
                            </div>
                        {% if form.errors %}
                          {% for field in form %}
                            {% for error in field.errors %}
                              {{error}}
                            {% endfor %}
                          {% endfor %}
                        {% endif %}
                          </form>
                        </div>
                        
                      </div>
                      <div class="modal-right">
                        <img src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dfd2ec5a01006fd8c4d7592a381d3776&auto=format&fit=crop&w=1000&q=80" alt="">
                      </div>
                      <button class="icon-button close-button">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                      <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
                  </svg>
                        </button>
                    </div>
                    <button class="modal-button ">ورورد</button>
                  </div>
                    {% endif %}
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    {% block content %}
    {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-6 col-md-6">
                <div class="footer-info">
                <h3>Groovin</h3>
                <p>
                    Mashhad, Iran<br><br>
                    <strong>Phone:</strong> 09010804236<br>
                    <strong>Email:</strong> mhmmhddlr45@gmail.com<br>
                </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cal' %}">خانه</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Darvish' %}">هتل درویش</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'Almas2' %}">هتل الماس ۲</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'hotelghasr' %}">هتل قصر طلایی</a></li>
                </ul>
            </div>

            </div>
        </div>
        </div>

        <div class="container">
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/groovin-free-bootstrap-theme/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->

    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script>
      const body = document.querySelector("body");
  const modal = document.querySelector(".modal");
  const modalButton = document.querySelector(".modal-button");
  const closeButton = document.querySelector(".close-button");
  // const scrollDown = document.querySelector(".scroll-down");
  let isOpened = false;
  
  const openModal = () => {
    modal.classList.add("is-open");
    body.style.overflow = "hidden";
  };
  
  const closeModal = () => {
    modal.classList.remove("is-open");
    body.style.overflow = "initial";
  };
  
  // window.addEventListener("scroll", () => {
  //   if (window.scrollY > window.innerHeight / 3 && !isOpened) {
  //     isOpened = true;
  //     scrollDown.style.display = "none";
  //     openModal();
  //   }
  // });
  
  modalButton.addEventListener("click", openModal);
  closeButton.addEventListener("click", closeModal);
  
  document.onkeydown = evt => {
    evt = evt || window.event;
    evt.keyCode === 27 ? closeModal() : false;
  };
  var login = document.querySelector('.login')
  var register = document.querySelector('.signups')
  function signUp(){
    login.style = "display:none;"
    register.style = "height:100%;"

    }
    function enter(){
    register.style = "display:none;"
    login.style = "height:100%;"

    }
  </script>
  <script>
const usernameEl = document.querySelector('.user');
const emailEl = document.querySelector('#email');
const passwordEl = document.querySelector('.pass');
const confirmPasswordEl = document.querySelector('#confirm-password');

const form = document.querySelector('#signup');


const checkUsername = () => {

    let valid = false;

    const min = 3

    const username = usernameEl.value.trim();

    if (!isRequired(username)) {
        showError(usernameEl, 'نام کاربری نمیتواند خالی باشد.');
    } else if (!isBetween(username.length, min)) {
        showError(usernameEl, 'لطفا نام کاربری را حداقل ۳ حرف وارد نمایید.')
    } else {
        showSuccess(usernameEl);
        valid = true;
    }
    return valid;
};


const checkEmail = () => {
    let valid = false;
    const email = emailEl.value.trim();
    if (!isRequired(email)) {
        showError(emailEl, 'ایمیل نمیتواند خالی باشد.');
    } else if (!isEmailValid(email)) {
        showError(emailEl, 'لطفا ایمیل معتبر وارد نمایید.')
    } else {
        showSuccess(emailEl);
        valid = true;
    }
    return valid;
};

const checkPassword = () => {
    let valid = false;


    const password = passwordEl.value.trim();
    if (!isRequired(password)) {
        showError(passwordEl, 'رمزعبور نمیتواند خالی باشد.');
    } else if (!isPasswordSecure(password)) {
        showError(passwordEl, 'رمزعبور باید حداقل شامل ۸حرف , اعداد و حروف انگلیسی باشد.');
    } else {
        showSuccess(passwordEl);
        valid = true;
    }

    return valid;
};

const checkConfirmPassword = () => {
    let valid = false;
    // check confirm password
    const confirmPassword = confirmPasswordEl.value.trim();
    const password = passwordEl.value.trim();

    if (!isRequired(confirmPassword)) {
        showError(confirmPasswordEl, 'فیلد نمیتواند خالی باشد.');
    } else if (password !== confirmPassword) {
        showError(confirmPasswordEl, 'رمز عبور مشابه نیست.');
    } else {
        showSuccess(confirmPasswordEl);
        valid = true;
    }

    return valid;
};

const isEmailValid = (email) => {
    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
};

const isPasswordSecure = (password) => {
    const re = new RegExp("^(?=.*[a-z])(?=.*[0-9])(?=.{8,})");
    return re.test(password);
};

const isRequired = value => value === '' ? false : true;
const isBetween = (length, min, max) => length < min || length > max ? false : true;


const showError = (input, message) => {
    // get the form-field element
    const formField = input.parentElement;
    // add the error class
    formField.classList.remove('success');
    formField.classList.add('error');

    // show the error message
    const error = formField.querySelector('small');
    error.textContent = message;
};

const showSuccess = (input) => {
    // get the form-field element
    const formField = input.parentElement;

    // remove the error class
    formField.classList.remove('error');
    formField.classList.add('success');

    // hide the error message
    const error = formField.querySelector('small');
    error.textContent = '';
}


form.addEventListener('submit', function (e) {
    // prevent the form from submitting
    e.preventDefault();

    // validate fields
    let isUsernameValid = checkUsername(),
        isEmailValid = checkEmail(),
        isPasswordValid = checkPassword(),
        isConfirmPasswordValid = checkConfirmPassword();
    let isFormValid = isUsernameValid &&
    isEmailValid &&
    isPasswordValid &&
    isConfirmPasswordValid;

    // submit to the server if the form is valid
    if (isFormValid) {
      form.submit()
    }
});


const debounce = (fn, delay = 500) => {
    let timeoutId;
    return (...args) => {
        // cancel the previous timer
        if (timeoutId) {
            clearTimeout(timeoutId);
        }
        // setup a new timer
        timeoutId = setTimeout(() => {
            fn.apply(null, args)
        }, delay);
    };
};

form.addEventListener('input', debounce(function (e) {
    switch (e.target.id) {
        case 'username':
            checkUsername();
            break;
        case 'email':
            checkEmail();
            break;
        case 'password':
            checkPassword();
            break;
        case 'confirm-password':
            checkConfirmPassword();
            break;
    }
}));


  </script>
    </body>

</html>